<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(['web', 'var', 'vendor'])
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@PSR2' => true,
        'no_useless_return' => true,
        'concat_space' => ['spacing' => 'one'],
        'array_syntax' => ['syntax' => 'short'],
        'return_type_declaration' => ['space_before' => 'none']
    ])
    ->setFinder($finder)
    ;
